:root {
    --light:#EDF5FC;
    --dark: #272D2D;
    --green: #23ce6b;
    --grey: #b8c5d6;
    --purple-grey: #a39ba8;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.line {
    display: inline-block; 
    margin: 0 10px; 
    color: white;     
    position: relative; 
}

.line::before {
    content: ''; 
    position: absolute;
    left: 50%; 
    top: -36px; 
    transform: translateX(-50%); 
    width: 9px;
    height: calc(100% + 20px); 
    background-color: #fff; 
    height: 50px;
}

.highlight {
    position:relative;
    padding: 0 0.2em;
    transition: background-color 0.3s;
    z-index: 2;
}

.highlight::after {
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 20px;
    background-color: #03a9f4;
    transition: width 0.3s;;
    left: 13px;
    z-index: -1;
    
}

.highlight:hover::after {
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}
/* .navbar-container {
    display: flex;
    align-items: center;
} */

#vid {
    position:absolute; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
    z-index: -10;
    object-fit: cover; 
}

.vid video {
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.text {
    position: absolute; /* Absolute position relative to the nearest positioned ancestor */
    top: 40%; /* Start at the vertical center */
    left: 25%; 
    transform: translate(-50%, -50%); /* Adjust to center the element */
    color: white;
    text-align: center; /* Center the text inside the div */
    z-index: 10; /* Ensure it's above the background video */
    max-width: 700px; /* Maximum width of the text block */
    width: 100%; /* Full width to ensure centering works */
    margin-left: calc(50vw - 50%);
}

.developer {
    margin-left: 0; 
}

.text h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text h1 {
    margin-left: 0; 
    text-align: left; 
}

.text .description {
    margin-top: 20px; 
    text-align: left; 
    max-width: 700px; 
}

.text p {
    font-size: 1.1em;
    font-weight: 400;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.line::before {
    width: 100%; /* Line to extend full width of the element */
    /* Rest of your styles */
}

header {
    color: white;
    text-align: center;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
}
.header-content {
    text-align: center;
}
.header-content h1 {
    margin-bottom: 0;
    font-size: 1em;
    color: white;
}
.header-content p {
    margin-top: 0;
    color: white;
}

#navMenu {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#navMenu a {
color: white;
text-decoration: none;
border-bottom: 4px solid #03a9f4;
padding-bottom: 3px;
}

/* #navMenu.active {
    display: block;
}
.navbar-burger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}
.navbar-container {
    display: flex;
    align-items: center;
}
.navbar-burger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--light);
    margin: 5px 0;
    transition: 0.4s;
}

.navbar-burger.is-active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-burger.is-active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-burger.is-active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


nav ul.container {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul.container li {
    display: inline;
    margin-left: 20px;
}

nav ul.container li a {
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
}
nav.active {
    display: flex;
} */



/* .modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
  
.blackout {
    position: relative;
    z-index: 1;
    background-color: black;
    transition: background-color linear 0.1s;
}
  
.modal-content {
    text-align: center;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    background-color: #000;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
} 
  
.image {
    width:120px;
    height: 120px;
    padding: 20px 50px;
}
  
.flame {
    filter: drop-shadow(0px 0px 4px darkorange);
}
  
.modal-message {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: #fff;
}
  
.resume-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 100px 0px;
    animation: resume-up ease-out 1.5s forwards;
    animation-delay: 3.5s;
}
  
#sword {
    width: 100px;
    height: 100px;
}
  
#resume {
    text-decoration: none;
    display: inline;
    font-size: 0.7em;
    padding: 20px;
    background: rgb(124, 74, 74);
    border-radius: 4%;
    color: #fff;
    text-transform: uppercase;
    font-family: "Press Start 2P", cursive;
    border: 3px solid rgb(212, 168, 81);
}
  
.fade-in span {
    opacity: 0;
    animation: text-fade 0.5s linear forwards;
    animation-delay: 0.3s;
}
  
.fade-in span:nth-of-type(2) {
    animation-delay: 0.7s;
}
  
.fade-in span:nth-of-type(3) {
    animation-delay: 1.2s;
}
  
.fade-in span:nth-of-type(4) {
    animation-delay: 1.7s;
}
  
.fade-in span:nth-of-type(5) {
    animation-delay: 2.2s;
}
  
.fade-in span:nth-of-type(6) {
    animation-delay: 2.7s;
}
  
.fade-in span:nth-of-type(7) {
    animation-delay: 2.9s;
}
  
@keyframes text-fade{
    0% {
      opacity: 0.1;
  
      transform: translateX(-100px);
  
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
  
@keyframes resume-up {
    from {
      opacity: 0.1;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.photo-section {
    text-align: center;
    margin: 20px;
}

.photo-section img {
    max-width: 100%;
    border-radius: 20%;
    height: auto;
} */

/* About Me section styles */

.bio-section {
    text-align: center;
    padding: 20px;
    background-color: var(--dark);
    border: 3px solid var(--grey);
    border-radius: 7%;
    max-width: 1200px;
    /* margin: 20px auto; */
    margin-top: 1000px;
}

.bio-section h2 {
    font-size: 30px;
    color: var(--light);
    max-width: 2000px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.bio-section h2 .me {
    color: var(--green);
}

.bio-section h4 {
    color: var(--light);
    margin-bottom: 20px;
}

.bio-section p {
    font-size: 18px;
    color: var(--light);
    line-height: 2;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 600px) {
    .bio-section {
        max-width: 800px;
    }
}

@media only screen and (min-width: 800px) {
    .bio-section {
        max-width: 2000px; 
    }
}


.info-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1200px;
    margin-top: 50px;
}

.left-card h2, .right-card h2 {
    color: var(--green);
}
.left-card, .right-card {
    flex: 1;
    text-align: center;
    border: 3px solid var(--grey);
    border-radius: 7%;
    background-color: var(--dark);
    padding: 20px;
    margin: 10px;
    max-width: 300px; 
}

.left-card ul li, .right-card ul li {
    margin-top: 20px;
    list-style: none;
    text-align: left;
}

.left-card, .right-card {
    color: var(--light);
}

#work-section {
    text-align: center;
    margin: 20px;
    color: var(--light);
    max-width: 1200px;
    margin: 20px auto;
}
#work-section .section-heading {
    color:var(--light);
    font-size: 40px;
}

.work-examples-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

.work-section {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-sample1, .work-sample2, .work-sample3, .work-sample4, .work-sample5, .work-sample6 {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    overflow: hidden; 
    border-radius: 7%;
    margin: 15px;
}

.work-sample1 img, .work-sample2 img, .work-sample3 img, .work-sample4 img, .work-sample5 img, .work-sample6 img {
    width: 100%;
    transition: transform 0.3s ease;
    border-radius: 5%; 
    height: auto;
}

.work-sample1 p, .work-sample2 p, .work-sample3 p, .work-sample4 p, .work-sample5 p, .work-sample6 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.work-sample1:hover img, .work-sample2:hover img, .work-sample3:hover img, .work-sample4:hover img, .work-sample5:hover img, .work-sample6:hover img {
    transform: scale(1.1);
    box-shadow: 10px 10px lightblue;
}
/* Note this media section cause it took me ages to learn.
all the info you need is right here to recreate this image spacing  */
@media only screen and (min-width: 800px) {
    .work-examples-container {
        flex-wrap: wrap; 
        justify-content: space-between; 
    }
.work-sample1, .work-sample2, .work-sample3, .work-sample4, .work-sample5, .work-sample6 {
        flex: 1 1 calc(50% - 20px); 
        margin: 10px;
    }
}
.work-sample1:hover p, .work-sample2:hover p, .work-sample3:hover p, .work-sample4:hover p, .work-sample5:hover p, .work-sample6:hover p {
    opacity: 1;
}

footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 20px 0;
}

#contact-section {
    max-width: 600px;
    margin: 0 auto;
}

#contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contact-section p {
    font-size: 16px;
    margin-bottom: 5px;
}

#contact-section a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#contact-section a:hover {
    color: var(--purple-grey);
}